#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [42]:
import pymysql
from sqlalchemy import create_engine
import numpy as np

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
url = "mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats"
engine = create_engine(url)
#engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/Stats')

#### 4. Import the users table

In [4]:
users = pd.read_sql_query('SELECT * FROM users', engine);
users

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 5. Rename Id column to userId

In [5]:
users.rename(columns={'Id':'userId'}, inplace = True)
users

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 6. Import the posts table.

In [6]:
posts = pd.read_sql_query('SELECT * FROM posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts.rename(columns={'Id':'postId', 'OwnerUserId':'userId'}, inplace=True)
posts

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
new_df_users = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
new_df_posts = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

print(new_df_users)

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   userId           40325 non-null  int64
 1   Reputation       40325 non-null  int64
 2   CreationDate     40325 non-null  datetime64[ns]
 3   DisplayName      40325 non-null  object
 4   LastAccessDate   40325 non-null  datetime64[ns]
 5   WebsiteUrl       8121 non-null   object
 6   Location         11691 non-null  object
 7   AboutMe          9379 non-null   object
 8   Views            40325 non-null  int64
 9   UpVotes          40325 non-null  int64
 10  DownVotes        40325 non-null  int64
 11  AccountId        40325 non-null  int64
 12  Age              8318 non-null   float64
 13  ProfileImageUrl  16479 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(6), object(5)
memory usage: 4.3+ MB

In [10]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   postId                 91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  datetime64[ns]
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   userId                 90584 non-null  float64
 8   LasActivityDate        91976 non-null  datetime64[ns]
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  datetime64[ns]
 16  CommunityOwnedDate     2467 non-null   datetime64[ns]
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   datetime64[ns]
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: datetime64[ns](5), float64(7), int64(4), object(5)
memory usage: 14.7+ MB

In [25]:
merge_df = users.merge(posts, left_on='userId', right_on='postId')
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32057 entries, 0 to 32056
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   userId_x               32057 non-null  int64
 1   Reputation             32057 non-null  int64
 2   CreationDate           32057 non-null  datetime64[ns]
 3   DisplayName            32057 non-null  object
 4   LastAccessDate         32057 non-null  datetime64[ns]
 5   WebsiteUrl             6740 non-null   object
 6   Location               9546 non-null   object
 7   AboutMe                7676 non-null   object
 8   Views                  32057 non-null  int64
 9   UpVotes                32057 non-null  int64
 10  DownVotes              32057 non-null  int64
 11  AccountId              32057 non-null  int64
 12  Age                    6818 non-null   float64
 13  ProfileImageUrl        11219 non-null  object
 14  postId                 32057 non-null  int64
 15  PostTypeId             32057 non-null  int64
 16  AcceptedAnswerId       5791 non-null   float64
 17  CreaionDate            32057 non-null  datetime64[ns]
 18  Score                  32057 non-null  int64
 19  ViewCount              13046 non-null  float64
 20  Body                   31967 non-null  object
 21  userId_y               31285 non-null  float64
 22  LasActivityDate        32057 non-null  datetime64[ns]
 23  Title                  13046 non-null  object
 24  Tags                   13046 non-null  object
 25  AnswerCount            13046 non-null  float64
 26  CommentCount           32057 non-null  int64
 27  FavoriteCount          5774 non-null   float64
 28  LastEditorUserId       15753 non-null  float64
 29  LastEditDate           15998 non-null  datetime64[ns]
 30  CommunityOwnedDate     1377 non-null   datetime64[ns]
 31  ParentId               18586 non-null  float64
 32  ClosedDate             418 non-null    datetime64[ns]
 33  OwnerDisplayName       1169 non-null   object
 34  LastEditorDisplayName  275 non-null    object
dtypes: datetime64[ns](7), float64(8), int64(10), object(10)
memory usage: 8.8+ MB

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [12]:
print(len(merge_df))
print(len(users))
print(len(posts))

90584
40325
91976

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [26]:
merge_df2 = merge_df.fillna(0)
merge_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32057 entries, 0 to 32056
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   userId_x               32057 non-null  int64
 1   Reputation             32057 non-null  int64
 2   CreationDate           32057 non-null  datetime64[ns]
 3   DisplayName            32057 non-null  object
 4   LastAccessDate         32057 non-null  datetime64[ns]
 5   WebsiteUrl             32057 non-null  object
 6   Location               32057 non-null  object
 7   AboutMe                32057 non-null  object
 8   Views                  32057 non-null  int64
 9   UpVotes                32057 non-null  int64
 10  DownVotes              32057 non-null  int64
 11  AccountId              32057 non-null  int64
 12  Age                    32057 non-null  float64
 13  ProfileImageUrl        32057 non-null  object
 14  postId                 32057 non-null  int64
 15  PostTypeId             32057 non-null  int64
 16  AcceptedAnswerId       32057 non-null  float64
 17  CreaionDate            32057 non-null  datetime64[ns]
 18  Score                  32057 non-null  int64
 19  ViewCount              32057 non-null  float64
 20  Body                   32057 non-null  object
 21  userId_y               32057 non-null  float64
 22  LasActivityDate        32057 non-null  datetime64[ns]
 23  Title                  32057 non-null  object
 24  Tags                   32057 non-null  object
 25  AnswerCount            32057 non-null  float64
 26  CommentCount           32057 non-null  int64
 27  FavoriteCount          32057 non-null  float64
 28  LastEditorUserId       32057 non-null  float64
 29  LastEditDate           32057 non-null  object
 30  CommunityOwnedDate     32057 non-null  object
 31  ParentId               32057 non-null  float64
 32  ClosedDate             32057 non-null  object
 33  OwnerDisplayName       32057 non-null  object
 34  LastEditorDisplayName  32057 non-null  object
dtypes: datetime64[ns](4), float64(8), int64(10), object(13)
memory usage: 8.8+ MB

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [28]:
#merge_df2 = merge_df2.astype({"userId":"int32"}, errors='raise')
#merge_df2.dtypes

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [29]:
#for i in range (len(df3)):
#    if (df3['Reputation'][i]> df3['Reputation'].mean()+2*df3['Reputation'].std()):
#        df3['Outliers'][i]='True'

#merge_df2.head(1)
outliers = merge_df2[['Reputation', 'Views', 'UpVotes', 'Score', 'ViewCount', 'AnswerCount', 'CommentCount', 'FavoriteCount']]
low = outliers.mean()-2*outliers.std()
outliers['UpVotes']

0          3
1         19
2          0
3        662
4         47
        ...
32052      0
32053      0
32054      0
32055      0
32056      0
Name: UpVotes, Length: 32057, dtype: int64

In [24]:
outliers_list = []
for i in outliers:
    print(i)
    low = outliers[i].mean() -2*outliers[i].std();
    high = outliers[i].mean() +2*outliers[i].std();
    outliers_row = []
    for j in range(5000):
        if outliers[i][j]<low or outliers[i][j]>high:
            outliers_row.append(outliers[i][j])
    print(outliers_row)
    outliers_list.append(outliers_row)

Reputation
[]
Views
[]
UpVotes
[5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007, 5007]
Score
[152, 20, 22, 28, 14, 75, 26, 23, 21, 14, 156, 40, 13, 18, 26, 17, 13, 21, 22, 15, 15, 95, 24, 26, 16, 16, 15, 24, 17, 20, 13, 40, 21, 26, 23, 16, 41, 14, 33, 30, 17, 56, 13, 96, 13, 20, 15, 40, 15, 15, 18, 14, 29, 14, 30, 73, 29, 66, 29, 17, 88, 27, 40, 15, 54, 15, 24, 17, 18, 13, 81, 14, 22, 23, 61, 18, 13, 15, 61, 24, 14, 16, 21, 16, 31, 16, 20, 14, 129, 66, 70, 13, 14, 15, 29, 21, 74, 15, 31, 25, 13, 32, 16, 13, 42, 76, 24, 14, 37, 15, 39, 19, 13, 16, 87, 15, 18, 22, 17, 71, 18, 21, 14, 18, 102, 13, 13, 36, 13, 15, 15, 71, 16, 14, 22, 16, 16, 15, 14, 56, 16, 52, 17, 66, 36, 26, 17, 18, 39, 20, 19, 40, 34, 35, 18, 18, 15, 13, 60, 18, 23, 14, 122, 14, 25, 15, 19, 25, 14, 109, 84, 14, 22, 14, 17, 24, 18, 64, 15, 20, 14, 14, 22, 29, 17, 17, 25, 19, 31, 20, 49, 30, 17, 13, 22, 20, 38, 35, 51, 55, 17, 28, 78, 27, 13, 23, 67, 17, 18, 13, 23, 27, 35, 22, 50, 51, 15, 27, 44, 14, 31, 15, 74, 146, 16, 24, 20, 36, 29, 17, 36, 66, 27, 17, 14, 18, 20, 25, 25, 32, 16, 13, 16, 13, 15, 13, 26, 16, 14, 13, 17, 17, 27, 13, 19, 34, 21, 25, 42, 19, 16, 48, 13, 29, 36, 25, 13, 18, 60, 26, 16, 53, 41, 13, 19, 17, 15, 23, 38, 47, 20, 26, 13, 16, 39, 16, 19, 13, 32, 17, 15, 15, 23, 16, 19, 17, 13, 24, 37, 25, 16, 21, 14, 13, 18, 34, 15, 41, 13, 46, 22, 14, 26, 27, 14, 14, 79, 19, 26, 17, 29, 17, 17, 14, 13, 22, 17, 20, 20, 19, 17, 40, 23, 62, 25, 13, 25, 22, 14, 14, 24, 14, 13, 36, 33, 23, 14, 14, 14, 52, 13, 26, 14, 16, 124, 61, 32, 16, 27, 13, 26, 34, 44, 14, 13, 17, 18, 21, 14, 15, 17, 26, 30, 26, 14, 14, 57, 15, 15, 164, 13, 17, 28, 17, 17, 20, 19, 15, 24, 51, 14, 18, 22, 14, 34, 63, 55, 23, 17, 16, 13, 28, 23, 16, 27, 41, 19, 13, 14, 14, 15, 13, 44, 15, 25, 28, 23, 31, 20, 17, 35, 47, 13, 17, 13, 27, 14, 17, 17, 24, 66, 14, -10, 17, 18, 15, 14, 29, 13, 33, 20, 14, 13, 17, 17, 32, 115, 17, 40, 28, 18, 20, 23, 15, 21, 18, 39, 21, 16, 28, 15, 17, 15, 16, 17, 13, 27, 14, 14, 22, 21, 14, 21, 20, 19, 21, 17, 121, 28, 19, 14, 13, 40, 59, 20, 14, 90, 24, 17, 97, 21, 16, 20, 18, 27, 68, 33, 58, 44, 50, 24, 18, 13, 33, 13, 18, 18, 14, 35, 19, 18, 47, 25, 28, 72, 29, 19, 15, 21, 24, 23, 83, 15]
ViewCount
[29229.0, 29261.0, 64481.0, 9878.0, 4469.0, 67396.0, 7733.0, 4526.0, 5877.0, 175495.0, 28291.0, 25962.0, 3613.0, 5717.0, 3547.0, 5224.0, 8198.0, 21925.0, 3980.0, 3883.0, 4065.0, 14706.0, 7912.0, 5808.0, 11927.0, 5329.0, 53644.0, 21916.0, 7694.0, 24738.0, 7407.0, 22890.0, 5188.0, 13526.0, 36345.0, 8826.0, 4758.0, 4277.0, 39118.0, 9481.0, 4090.0, 4341.0, 5291.0, 7111.0, 3982.0, 11197.0, 14608.0, 3918.0, 15260.0, 67592.0, 3783.0, 12626.0, 4572.0, 14326.0, 23465.0, 4419.0, 3981.0, 16285.0, 12304.0, 39097.0, 9772.0, 11149.0, 3833.0, 28878.0, 9369.0, 5593.0, 3894.0, 7537.0, 4982.0, 4454.0, 6033.0, 4470.0, 7655.0, 5812.0, 3712.0, 10853.0, 49948.0, 3751.0, 37288.0, 10288.0, 4610.0, 7307.0, 70255.0, 16090.0, 3928.0, 3791.0, 36801.0, 4254.0, 25597.0, 6570.0, 22354.0, 15463.0, 6703.0, 34044.0, 4417.0, 8410.0, 3695.0, 6142.0, 4854.0, 16006.0, 12366.0, 13685.0, 9951.0, 6700.0, 11458.0, 4381.0, 11637.0, 34780.0, 4214.0, 7814.0, 9910.0, 4873.0, 7210.0, 4337.0, 5446.0, 8386.0, 19094.0, 3567.0, 3963.0, 15051.0, 6896.0, 3627.0, 10961.0, 23434.0, 8366.0, 3781.0, 6025.0, 4120.0, 5362.0, 15362.0, 23985.0, 4810.0, 6654.0, 23545.0, 6064.0, 5068.0, 6392.0, 15823.0, 7263.0, 4798.0, 5956.0, 11200.0, 5405.0, 8585.0, 5656.0, 8108.0, 5821.0, 4937.0, 5250.0, 8341.0, 6776.0, 11865.0, 10402.0, 7545.0, 37144.0, 7690.0, 17429.0, 34458.0, 4121.0, 4284.0, 8532.0, 25960.0, 9926.0, 4554.0, 7737.0, 4696.0, 10693.0, 4097.0]
AnswerCount
[15.0, 16.0, 26.0, 56.0, 5.0, 6.0, 5.0, 12.0, 13.0, 10.0, 3.0, 5.0, 3.0, 7.0, 5.0, 27.0, 13.0, 19.0, 7.0, 4.0, 3.0, 16.0, 3.0, 13.0, 10.0, 8.0, 4.0, 19.0, 6.0, 4.0, 24.0, 4.0, 5.0, 7.0, 4.0, 4.0, 4.0, 3.0, 3.0, 3.0, 9.0, 4.0, 3.0, 5.0, 4.0, 5.0, 11.0, 3.0, 4.0, 3.0, 3.0, 5.0, 4.0, 3.0, 24.0, 4.0, 3.0, 4.0, 3.0, 6.0, 3.0, 3.0, 5.0, 4.0, 4.0, 3.0, 8.0, 4.0, 4.0, 4.0, 3.0, 7.0, 4.0, 5.0, 3.0, 15.0, 5.0, 3.0, 3.0, 7.0, 8.0, 3.0, 4.0, 5.0, 9.0, 7.0, 5.0, 8.0, 19.0, 6.0, 8.0, 3.0, 3.0, 3.0, 3.0, 8.0, 9.0, 3.0, 3.0, 3.0, 3.0, 19.0, 3.0, 6.0, 4.0, 3.0, 3.0, 6.0, 6.0, 3.0, 5.0, 4.0, 3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 11.0, 23.0, 3.0, 9.0, 10.0, 4.0, 8.0, 6.0, 5.0, 5.0, 6.0, 3.0, 10.0, 7.0, 8.0, 5.0, 5.0, 3.0, 3.0, 21.0, 6.0, 4.0, 4.0, 6.0, 3.0, 4.0, 10.0, 3.0, 4.0, 13.0, 14.0, 9.0, 6.0, 4.0, 3.0, 3.0, 5.0, 3.0, 11.0, 7.0, 7.0, 3.0, 8.0, 14.0, 3.0, 4.0, 4.0, 3.0, 3.0, 3.0, 5.0, 3.0, 5.0, 19.0, 3.0, 3.0, 3.0, 14.0, 6.0, 3.0, 4.0, 4.0, 3.0, 4.0, 3.0, 8.0, 8.0, 4.0, 3.0, 6.0, 3.0, 7.0, 5.0, 5.0, 3.0, 4.0, 6.0, 3.0, 3.0, 4.0, 5.0, 8.0, 4.0, 4.0, 3.0, 4.0, 8.0, 7.0, 3.0, 3.0, 3.0, 3.0, 3.0, 7.0, 4.0, 4.0, 6.0, 5.0, 10.0, 3.0, 5.0, 4.0, 5.0, 4.0, 3.0, 3.0, 3.0, 3.0, 4.0, 6.0, 3.0, 5.0, 3.0, 4.0, 6.0, 4.0, 5.0, 3.0, 4.0, 6.0, 3.0, 6.0, 3.0, 5.0, 5.0, 4.0, 3.0, 3.0, 7.0, 10.0, 4.0, 3.0, 28.0, 4.0, 3.0, 3.0, 6.0, 4.0, 136.0, 5.0, 12.0, 4.0, 4.0, 3.0, 3.0, 3.0, 5.0, 3.0, 8.0, 5.0, 6.0, 10.0, 4.0, 12.0, 4.0, 4.0, 6.0, 4.0, 3.0, 3.0, 5.0, 4.0, 7.0, 4.0, 6.0, 6.0, 4.0, 3.0, 7.0, 4.0, 6.0, 4.0, 9.0, 3.0, 9.0, 4.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0, 3.0, 4.0, 4.0, 3.0, 5.0, 4.0, 4.0, 3.0, 3.0, 3.0, 3.0, 8.0, 4.0, 3.0, 7.0, 3.0, 3.0, 4.0, 3.0, 5.0, 11.0, 3.0, 3.0, 3.0, 5.0, 3.0, 12.0, 3.0, 5.0, 4.0, 3.0, 6.0, 3.0, 6.0, 8.0, 5.0, 5.0, 6.0, 16.0, 8.0, 3.0, 3.0, 4.0, 3.0, 3.0, 4.0, 4.0, 5.0, 3.0, 3.0, 4.0, 4.0, 3.0, 3.0, 4.0, 3.0, 5.0, 42.0, 4.0, 3.0, 3.0, 3.0, 8.0, 7.0, 3.0, 3.0, 3.0, 5.0, 3.0, 4.0, 3.0, 3.0, 4.0, 6.0, 6.0, 12.0, 3.0, 4.0, 3.0, 3.0, 3.0, 14.0, 6.0, 3.0, 3.0, 4.0, 8.0, 5.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0]
CommentCount
[11, 9, 9, 8, 14, 17, 8, 8, 9, 14, 11, 10, 12, 9, 13, 12, 12, 10, 8, 10, 11, 11, 10, 8, 8, 8, 9, 10, 11, 8, 9, 8, 9, 8, 10, 14, 9, 12, 11, 11, 13, 8, 14, 8, 10, 10, 8, 8, 10, 8, 9, 8, 10, 12, 8, 11, 9, 8, 11, 8, 12, 8, 15, 8, 11, 12, 9, 10, 12, 8, 8, 9, 8, 9, 9, 8, 9, 8, 12, 10, 8, 8, 10, 9, 8, 8, 9, 12, 9, 9, 11, 12, 11, 19, 11, 9, 11, 9, 10, 8, 8, 9, 8, 9, 8, 10, 10, 10, 12, 9, 11, 9, 11, 11, 11, 10, 13, 12, 10, 10, 8, 8, 14, 18, 8, 13, 9, 8, 10, 8, 8, 11, 9, 8, 9, 8, 10, 8, 8, 12, 11, 9, 10, 8, 8, 10, 8, 8, 10, 8, 9, 8, 11, 10, 8, 8]
FavoriteCount
[137.0, 37.0, 78.0, 135.0, 14.0, 6.0, 11.0, 10.0, 14.0, 15.0, 7.0, 14.0, 21.0, 22.0, 6.0, 75.0, 7.0, 8.0, 10.0, 45.0, 27.0, 56.0, 24.0, 20.0, 36.0, 26.0, 8.0, 12.0, 7.0, 7.0, 15.0, 21.0, 17.0, 9.0, 6.0, 18.0, 9.0, 79.0, 6.0, 19.0, 45.0, 6.0, 30.0, 9.0, 67.0, 7.0, 7.0, 11.0, 66.0, 47.0, 65.0, 25.0, 7.0, 18.0, 7.0, 7.0, 15.0, 11.0, 9.0, 69.0, 6.0, 12.0, 9.0, 9.0, 8.0, 10.0, 9.0, 19.0, 12.0, 18.0, 20.0, 11.0, 14.0, 7.0, 55.0, 7.0, 13.0, 22.0, 7.0, 111.0, 6.0, 9.0, 14.0, 10.0, 17.0, 44.0, 42.0, 26.0, 9.0, 46.0, 8.0, 11.0, 6.0, 15.0, 17.0, 27.0, 30.0, 57.0, 9.0, 36.0, 6.0, 8.0, 15.0, 7.0, 16.0, 24.0, 34.0, 16.0, 7.0, 8.0, 21.0, 14.0, 7.0, 6.0, 6.0, 10.0, 7.0, 22.0, 6.0, 16.0, 7.0, 17.0, 68.0, 9.0, 10.0, 6.0, 6.0, 10.0, 9.0, 7.0, 12.0, 8.0, 8.0, 7.0, 33.0, 51.0, 15.0, 6.0, 7.0, 9.0, 10.0, 9.0, 56.0, 12.0, 127.0, 6.0, 12.0, 18.0, 17.0, 7.0, 6.0, 8.0, 9.0, 11.0, 16.0, 6.0, 9.0, 6.0, 12.0, 9.0, 27.0, 34.0, 7.0, 11.0, 11.0, 14.0, 7.0, 10.0, 6.0, 10.0, 7.0, 45.0, 6.0, 7.0, 6.0, 9.0, 7.0, 8.0, 6.0, 7.0, 12.0, 25.0, 9.0, 7.0, 6.0, 10.0, 10.0, 6.0, 6.0, 23.0, 14.0, 13.0, 6.0, 18.0, 6.0, 18.0, 7.0, 8.0, 113.0, 9.0, 6.0, 32.0, 10.0, 43.0, 6.0, 60.0, 8.0, 14.0, 30.0, 7.0, 7.0, 26.0, 7.0, 6.0, 7.0, 27.0, 20.0, 10.0, 18.0, 6.0, 11.0, 6.0]

In [46]:

outliers_list = []
for i in outliers:
    low = outliers[i].mean() -2*outliers[i].std();
    high = outliers[i].mean() +2*outliers[i].std();
    outliers_row = []
    for j in range(len(outliers[i])):
        if outliers[i][j]<low or outliers[i][j]>high:
            outliers_row.append(outliers[i][j])
        else:
            outliers_row.append(np.NaN)
    outliers_list.append(outliers_row)
    


outliers_df = pd.DataFrame(outliers_list)
outliers_df = outliers_df.transpose()
outliers_df.columns=['Reputation', 'Views', 'UpVotes', 'Score', 'ViewCount', 'AnswerCount', 'CommentCount', 'FavoriteCount']
outliers_df = outliers_df.dropna(how='all')

In [35]:
outliers_df['Reputation'].isnull().sum()

1297